<h2><i><u>Contact us</u></i></h2>


<ol>


   <li><p><u><i><b><font color="black">Blogger Developer:-</font></b></i></u></p></li><br/>
   <p><font color="#008000">Chandan Kumar Mallik :- +91-8147523211, +91-8095368202</font></p>
   <p><font color="#008000">Email id :- chandan0707@gmail.com, ckm0707@gmail.com<br/> ercsejit2011@gmail.com</font></p><br/>

   <p><font color="#008000">Permanent Address :- Kamla Niketan<br/>
   	Baghnocha<br/>
   	Rakhabani<br/>
   	Dumka-814101<br/>
   	Jharkhand
   	India</font></p><br/>
   	<p><font color="#008000">Current Address :- Cauvery Boys Hostel<br/>
   	CQAL Layout<br/>
   	SahakaraNagar<br/>
   	Bangalore-560092<br/>
   	Karnataka
   	India</font>
   	<br/>
<br/>

<br/>
<br/>

<br/>
<br/>




</ol>
<%= link_to 'Home',{:action=>'index', :controller=>'articles'}%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to " Create New Article", new_article_path, :class => "new_article" %>
<%= link_to 'Blogger Information', :action=>'blogger_information'%>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<%= link_to 'Dominus', :action=>'me_us'%>

