About the Developer
<%= image_tag("chandan.jpg", :alt => "chandan") %>

   <p><font color="red">Email id :- chandan0707@gmail.com</font>

   </p><br/>
   <p><font color="red">
I am Chandan Kumar Mallik. <br/>
Currently working as a Trainee developer and chasing my dream to work in an MNC.
<br/>
<p><font color="Black">Qualifications:-  <font color="red">Bachelors In Engineering(Computer Science)<br/>
Working as Trainee Developer@ Gowdanar Technologies<br/>
Date of birth:-07/07/1988
<p><font color="#DAA520">Mobile Number :- +91-8147523211</font></p>
</font></p>
</font></p><br/><br/>
<%= link_to 'Home',{:action=>'index', :controller=>'articles'}%><br/>
